@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #343431;
}

body {
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    height: 300vh;
}

header {
    position: fixed;
    width: 100%;
    padding: 5px 20px;
    background-color: white;    
    z-index: 3;
    border: 2px solid red;
}

.App {
    width: 100%;
    min-height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-toggle {
    display: flex;
    gap: 15px;
}

.cart img {
    cursor: pointer;
    height: 40px;
}

.cart-icon {
    width: 200px;

}

main {
    position: relative;
    top: 100px;
}